@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/luke\/WEB\/github\/neo\/app\/styles\/main\.scss}line{font-family:\000039}}
* {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/luke\/WEB\/github\/neo\/app\/styles\/main\.scss}line{font-family:\0000313}}
h1 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/luke\/WEB\/github\/neo\/app\/styles\/main\.scss}line{font-family:\0000318}}
h2 {
  font-size: 1.2rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/luke\/WEB\/github\/neo\/app\/styles\/main\.scss}line{font-family:\0000322}}
h3 {
  font-size: 1rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/luke\/WEB\/github\/neo\/app\/styles\/main\.scss}line{font-family:\0000326}}
p {
  color: #4d4d4d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/luke\/WEB\/github\/neo\/app\/styles\/main\.scss}line{font-family:\0000330}}
small {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/luke\/WEB\/github\/neo\/app\/styles\/main\.scss}line{font-family:\0000334}}
.container {
  margin-top: 5%;
  margin-bottom: 5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/luke\/WEB\/github\/neo\/app\/styles\/main\.scss}line{font-family:\0000339}}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/luke\/WEB\/github\/neo\/app\/styles\/main\.scss}line{font-family:\0000347}}
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/luke\/WEB\/github\/neo\/app\/styles\/main\.scss}line{font-family:\0000355}}
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/luke\/WEB\/github\/neo\/app\/styles\/main\.scss}line{font-family:\0000361}}
.header {
  border-bottom: 1px solid #e5e5e5;
  /* Make the masthead heading the same height as the navigation */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/luke\/WEB\/github\/neo\/app\/styles\/main\.scss}line{font-family:\0000365}}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/luke\/WEB\/github\/neo\/app\/styles\/main\.scss}line{font-family:\0000374}}
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/luke\/WEB\/github\/neo\/app\/styles\/main\.scss}line{font-family:\0000380}}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/luke\/WEB\/github\/neo\/app\/styles\/main\.scss}line{font-family:\0000385}}
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/luke\/WEB\/github\/neo\/app\/styles\/main\.scss}line{font-family:\0000389}}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/luke\/WEB\/github\/neo\/app\/styles\/main\.scss}line{font-family:\0000396}}
.marketing {
  margin: 40px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/luke\/WEB\/github\/neo\/app\/styles\/main\.scss}line{font-family:\0000399}}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/luke\/WEB\/github\/neo\/app\/styles\/main\.scss}line{font-family:\00003106}}
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/luke\/WEB\/github\/neo\/app\/styles\/main\.scss}line{font-family:\00003113}}
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/luke\/WEB\/github\/neo\/app\/styles\/main\.scss}line{font-family:\00003118}}
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/luke\/WEB\/github\/neo\/app\/styles\/main\.scss}line{font-family:\00003122}}
  .jumbotron {
    border-bottom: 0;
  }
}
